{{- if eq .chezmoi.hostname "promac"}}
{{-   template "gitconfig_personal.tmpl" -}}
{{- end}}
{{- if eq .chezmoi.hostname "airmac"}}
{{-   template "gitconfig_work.tmpl" -}}
{{- end}}

[core]
  excludesfile = ~/.config/git/exclude
  pager = delta

[init]
  defaultBranch = main