{{- if eq .chezmoi.hostname "promac"}}
[include]
  path = ~/.config/gitconfigs/personal
{{- end}}
{{- if eq .chezmoi.hostname "airmac"}}
[include]
  path = ~/.config/gitconfigs/work
{{- end}}

[core]
  excludesfile = ~/.config/git/exclude
  pager = delta

[credential]
	helper = cache --timeout=7200

[init]
	defaultBranch = main